# Binance Spot Testnet
# Get keys from: https://testnet.binance.vision/
BINANCE_SPOT_TESTNET_API_KEY=your_spot_api_key
BINANCE_SPOT_TESTNET_SECRET_KEY=your_spot_secret_key

# Binance Futures Testnet  
# Get keys from: https://testnet.binancefuture.com/
BINANCE_FUTURES_TESTNET_API_KEY=your_futures_api_key
BINANCE_FUTURES_TESTNET_SECRET_KEY=your_futures_secret_key
